<% content_for :title, "Edit Account" %>
<% breadcrumb "Accounts", accounts_path %>
<% breadcrumb @account.name, account_path(@account) %>
<% breadcrumb "Edit Account" %>

<% page_header title: "Edit Account",
  eyebrow: "Account metadata",
  subtitle: "Update how this account is named, grouped, and included in reporting." %>

<section class="ta-section-frame max-w-4xl p-5">
  <%= render "form", account: @account %>
</section>
