<% content_for :title, "New Account" %>
<% breadcrumb "Accounts", accounts_path %>
<% breadcrumb "New Account" %>

<% page_header title: "New Account",
  eyebrow: "Account identity and starting point",
  subtitle: "Add a manual account you want to include in cash or net worth tracking." %>

<section class="ta-section-frame max-w-4xl p-5">
  <%= render "form",
    account: @account,
    initial_snapshot: @initial_snapshot,
    credit_card_payment_schedule: @credit_card_payment_schedule,
    credit_card_payment_schedule_enabled: @credit_card_payment_schedule_enabled %>
</section>
